{
  "TOKEN": "ODA5MTM0Njc4MTAzNDI1MDU0.YCQrZA.jYOV6T43TfP6TeBTCdtFZ63oIE4",
  "YOUTUBE_API_KEY": "AIzaSyAB0SOHGg9ifgxMMQMw4KPOfGWI2IbQLIY",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "s/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
